@model Lab02_SinhVien.Models.Student

<h2>THÔNG TIN SINH VIÊN</h2>
<form asp-action="Manage">
    <div class="md-12">
        <label>Mã số SV</label>
        <input name="StudentId">
    </div>
    <div>
        Họ tên: <input name="FullName" />
    </div>
    <div>
        Điểm: <input name="Grade" />
    </div>
    <input type="submit" class="btn-success" name="buttonName" value="Ghi file Text" />
    <input type="submit" class="btn-success" name="buttonName" value="Ghi file JSON" />
</form>