<h2>THÔNG TIN SINH VIÊN</h2>
<form asp-action="Manage">
    <div class="md-12">
        <label>Mã số SV</label>
        <input name="StudentId">
    </div>
    <div>
        Họ tên: <input name="FullName" />
    </div>
    <div>
        Điểm: <input name="Grade" />
    </div>
    <button class="btn-success" name="buttonName">Ghi file Text</button>
    <button class="btn-success" name="buttonName">Ghi file JSON</button>
</form>