@model Lab02_SinhVien.Models.Student

<h2>THÔNG TIN SINH VIÊN</h2>
<form asp-action="Manage">
    <div class="md-12">
        <label>Mã số SV</label>
        <input asp-for="StudentId">
    </div>
    <div>
        Họ tên: <input name="FullName" value="@Model?.FullName" />
    </div>
    <div>
        Điểm: <input asp-for="Grade" />
    </div>
    <input type="submit" class="btn btn-success" name="buttonName" value="Ghi file Text" />
    <input type="submit" class="btn btn-success" name="buttonName" value="Ghi file JSON" />
    <a asp-action="ViewStudent" class="btn btn-success" asp-route-type="JSON">Đọc JSON</a>
</form>