@model IEnumerable<HangHoaView>
@{
    ViewData["Title"] = "TimKiem";
}

<h1>Tìm kiếm</h1>

<form asp-action="TimKiem">
    Tên: <input name="Keyword" />
    Giá từ: <input name="From" type="number" />
    đến: <input name="To" type="number" />
    <button>Tìm</button>
</form>

@if (Model != null)
{
    <table>
        <caption>Kết quả</caption>
        <thead>
            <tr>
                <td>ID</td>
                <td>Hàng hóa</td>
                <td>Giá</td>
                <td>Loại</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.MaHh</td>
                    <td>@item.TenHh</td>
                    <td>@item.DonGia</td>
                    <td>@item.Loai</td>
                </tr>
            }
        </tbody>
    </table>
}