
@{
    ViewData["Title"] = "TimKiem";
}

<h1>Tìm kiếm</h1>

<form asp-action="TimKiem">
    Tên: <input name="Keyword" />
    Giá từ: <input name="From" type="number" />
    đến: <input name="To" type="number" />
    <button>Tìm</button>
</form>
