
@{
    ViewData["Title"] = "Index";
}

<h1>Máy tính cá nhân</h1>
<form asp-action="Calculate" asp-controller="Calculator">
    <input name="SoHang01" />
    <select name="PhepToan">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
        <option value="^">^</option>
        <option value="%">%</option>
    </select>
    <input name="SoHang02" />
    <button>=</button>

</form>

